.love-animation-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.love-text {
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
}

.animated-1 {
  animation: rotateScale 2s infinite alternate;
}

.animated-2 {
  animation: colorChange 2s infinite alternate;
}

.animated-3 {
  animation: shake 2s infinite;
}

@keyframes rotateScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.5);
  }
}

@keyframes colorChange {
  0% {
    color: red;
  }
  100% {
    color: pink;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}
